In [127]:
import numpy as np
import cv2
import cv
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier

In [77]:
df_heavy = pd.read_csv("k_5/hist_heavy.csv")
df_heavy.shape

(227, 5)

In [59]:
df_medium = pd.read_csv("k_5/hist_medium.csv")
df_medium.shape

(219, 5)

In [66]:
df_light = pd.read_csv("k_5/hist_light.csv")
df_light.shape

(853, 5)

In [83]:
df = pd.concat([df_light,df_medium,df_heavy],ignore_index=True)

In [84]:
df.tail()

            f1        f2        f3        f4        f5  label
1294  0.132959  0.235955  0.205993  0.286517  0.138577      2
1295  0.108893  0.268603  0.196007  0.313975  0.112523      2
1296  0.098246  0.282456  0.194737  0.317544  0.107018      2
1297  0.122486  0.265082  0.221207  0.270567  0.120658      2
1298  0.100885  0.269027  0.215929  0.292035  0.122124      2

[5 rows x 6 columns]

In [85]:
data = df.iloc[np.random.permutation(len(df))]

In [86]:
data.tail()

            f1        f2        f3        f4        f5  label
1056  0.056035  0.284483  0.344828  0.273707  0.040948      1
1006  0.140351  0.219298  0.201754  0.286550  0.152047      1
1166  0.153119  0.275992  0.183365  0.298677  0.088847      2
682   0.152778  0.205556  0.227778  0.294444  0.119444      0
524   0.132743  0.144543  0.292035  0.271386  0.159292      0

[5 rows x 6 columns]

In [87]:
data.head()

           f1        f2        f3        f4        f5  label
840  0.144928  0.282609  0.286232  0.250000  0.036232      0
967  0.094675  0.246548  0.260355  0.337278  0.061144      1
654  0.127854  0.319635  0.310502  0.155251  0.086758      0
533  0.151515  0.221445  0.244755  0.268065  0.114219      0
495  0.168734  0.218362  0.233251  0.245658  0.133995      0

[5 rows x 6 columns]

In [100]:
X  = data.ix[:,data.columns != 'label'].values
y = data['label'].values

In [118]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)
print "size of train data = ", X_train.shape,"size of test data = ", X_test.shape
print "size of target train data = ", y_train.shape, "size of target test data = ",y_test.shape

size of train data =  (974, 5) size of test data =  (325, 5)
size of target train data =  (974,) size of target test data =  (325,)

In [119]:
clf = svm.SVC()
cl = clf.fit(X_train, y_train)
y_pred = cl.predict(X_test)

In [120]:
score = accuracy_score(y_test, y_pred)
print score

0.68

In [122]:
clf = RandomForestClassifier()
cl = clf.fit(X_train, y_train)
y_pred = cl.predict(X_test)
score = accuracy_score(y_test, y_pred)
print score

0.821538461538

In [128]:
clf = AdaBoostClassifier(n_estimators=30)
cl = clf.fit(X_train, y_train)
y_pred = cl.predict(X_test)
score = accuracy_score(y_test, y_pred)
print score

0.815384615385

In [126]:
clf = ExtraTreesClassifier(n_estimators = 40)
cl = clf.fit(X_train, y_train)
y_pred = cl.predict(X_test)
score = accuracy_score(y_test, y_pred)
print score

0.830769230769